/* .footer {
    background-color: black;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  } */
  
  .footer__section {
    flex-basis: 20%;
    margin-bottom: 20px;
  }
  
  .footer__section h5 {
    font-size: 10px;
    font-weight: 60;
    margin-bottom: 5px;
  } 
   
  .footer__section p {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .footer__section form {
    display: flex;
    align-items: center;
    
  }
  
  .footer__section input[type="email"] {
    border: none;
    padding: 5px;
    margin-right: 10px;
    flex-grow: 1;
    width: 200px;
    font-size: 5px;
  }
  
  .footer__section button {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 5px;
    font-weight: 600;
    /* width: 20px; */
  }
  
  .footer__section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__section li {
    margin-bottom: 10px;
  }
  
  .footer__section li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
  }
  .color {
    color: white;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    background-color: #3c3737;
    font-size: 10px;
  }
  
  .footer__section--links {
    order: 1;
    flex-basis: 100%;
    margin-top: 5px;
    text-align: right;
    
  }
  
  .footer__section--links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__section--links li {
    margin-bottom: 0px;
  }
  
  .footer__section--links a {
    text-decoration: none;
    color: #333;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container input {
    margin-bottom: 10px;
  }
  
  .form-container button {
    margin-top: 10px;
  }
  .Stay_Informed {
    font-size: 12px;
    font-weight: bold;
    color: white;
  }

  /* .footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    height: 20000px; /* adjust as needed */
    /* padding: 10px 20px; */
    /* background-color:#3c3737; */
    /* font-size: 14px; */
    /* margin-bottom: 0px; */
  /* } */ */

  .footer__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5000%;
    padding-right: 50px;
    margin-bottom: 0px;
  }

  .footer__bottom {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }


  /* underline css */
  

  .color {
    color: rgb(245, 245, 250);

  }
  .color {
    background: none;
    /* border: px; */
    color: rgb(245, 245, 250);
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
  
  }

  .color {
    color:rgb(245, 245, 250);
    font: bold;
    
   
     /* padding: auto;
     font-weight: bold;
     font-size: 0px;
     margin-left: 0px; */
   }
   /* .color:hover {
     color: rgb(245, 245, 250);
     padding-top: 10px;
   } */
   





  
  .underline-on-hover:hover {
    text-decoration: underline;
  }